@font-face {
  font-family: "Virgil";
  src: url("../font/Virgil.woff2");
  font-display: swap;
}

body {
  background-color: #FFF6F0 !important;
  font-family: "Virgil", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h1, h2, h3, h4, h5 {
  color: #009999;
}

hr {
  background-color: #646261;
  height: 1px;
  max-width: 510px;
}
.highlight {
  font-weight: bold;
  color: #009999;
}

.dark-row {
  background-color: #E6D2C1;
}

/*
.col {
  min-width: 270px;
}*/

/*-------------*/
/*    ecwid    */
/*-------------*/
.ecwid div,
.ecwid span,
.ecwid a,
.ecwid p,
.ecwid input,
.ecwid select {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

/*-------------*/
/*    links    */
/*-------------*/
.mylink {
  color: #009999;
}

.mylink:visitied {
  color: #006666;
}

.mylink:hover,
.mylink:active {
  color: #38ABAB;
  font-weight: bold;
  text-decoration: none;
}

/*-------------*/
/* aria label  */
/*-------------*/
.img-div[aria-label] {
  position: relative;
}

.img-div[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: relative;
  top: 100%;
    max-width: 720px;
  margin:auto;
  z-index: 5000;
  pointer-events: none;
  padding: 8px 10px;
  line-height: 15px;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: .9em;
  font-weight: normal;
  color: #FFF6F0;
  text-shadow: 1px 0 1px #646261;
  background-color: #583111;
  
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
}
  
.img-div[aria-label]:hover:after, [aria-label]:focus:after {
  display: block;
}

/*-------------*/
/*Twitter Tweet*/
/*-------------*/

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  width:100%;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/*-------------*/
/*-------------*/
